@import "tailwindcss";

:root {
  --primary: #0055a4;
  --secondary: #0a84ff;
  --accent: #f4f7fa;
  --neutral: #1a1a1a;
}

body {
  /* background-color: var(--accent); */
  /* color: var(--neutral); */
  font-family: Arial, Helvetica, sans-serif;
}
