@import "tailwindcss";

:root {
  --primary: #0055a4;
  --secondary: #0a84ff;
  --accent: #f4f7fa;
  --neutral: #1a1a1a;
}

.typing {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  animation: typing 3s steps(40, end), blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

body {
  /* background-color: var(--accent); */
  /* color: var(--neutral); */
  font-family: Arial, Helvetica, sans-serif;
}
