@import "tailwindcss";

:root {
  --primary: #0055a4;
  --secondary: #0a84ff;
  --accent: #f4f7fa;
  --neutral: #1a1a1a;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.9s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.btn-wrapper {
  position: relative;
  display: inline-block;
}

.cp-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid white;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 2;
}

.cp-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #0091ea;
  transition: left 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.btn-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.btn-wrapper:hover .cp-btn::before {
  left: 0;
}

.btn-wrapper:hover .cp-btn {
  border-color: transparent;
}

.btn-wrapper:hover::after {
  opacity: 1;
  top: 15px;
  left: 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@keyframes slideLeft {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.4s ease-out;
}

.animate-slide-right {
  animation: slideRight 0.4s ease-out;
}

body {
  /* background-color: var(--accent); */
  /* color: var(--neutral); */
  font-family: Arial, Helvetica, sans-serif;
}
